@import "../components/variables.scss";
@import "smart-grid.scss";

@include reset();
*{
  font-family: 'Open Sans', sans-serif;
}
.hide{
  display: none!important;
}
main{
  width: 100%;
  position: relative;
} 



// ---------------------------
// ---------------------------
// ---------------------------
// ---------------------------
// ---------------------------
// ---------------------------
// ---------------------------
// ---------------------------
// ---------------------------
// ---------------------------
// ---------------------------
// ---------------------------
// ---------------------------
// ---------------------------
// ---------------------------
