html
  head
    include pug/styles/metatags.pug
    include pug/styles/styles.pug
  body

    .menu
      ul.breadcrums
      ul.full-screen
        li.list-title
          |Заголовок
    include pug/scripts/scripts       






























//--------------------------------------------------------------------------------------------
//-  ul.full-screen
//-         li.list-title
//-           |Заголовок
//-         li.full-screen__item.parent-item
//-           p
//-             |Элемент первого уровня
//-           ul.sub-list
//-             li.sub-list__item.parent-item
//-               p
//-                 |Элемент первого уровня
//-               p.full-screen__item__sub-text
//-                 |Под текст
//-               ul.sub-list
//-                 li.sub-list__item.parent-item
//-                   p
//-                     |Элемент первого уровня
//-                   p.full-screen__item__sub-text
//-                     |Под текст
                    
//-                   ul.sub-list
//-                     li.sub-list__item.parent-item
//-                       p
//-                         |Элемент первого уровня
//-                       p.full-screen__item__sub-text
//-                         |Под текст
//-                     li.sub-list__item.parent-item
//-                       p
//-                         |Элемент первого уровня
//-                       p.full-screen__item__sub-text
//-                         |Под текс
//-                     li.sub-list__item.parent-item
//-                       p
//-                         |Элемент первого уровня
//-                       p.full-screen__item__sub-text
//-                         |Под текс

//-                 li.sub-list__item.parent-item
//-                   p
//-                     |Элемент первого уровня
//-                   p.full-screen__item__sub-text
//-                     |Под текс
//-                 li.sub-list__item.parent-item
//-                   p
//-                     |Элемент первого уровня
//-                   p.full-screen__item__sub-text
//-                     |Под текс
//-             li.sub-list__item.parent-item
//-               p
//-                 |Элемент первого уровня
//-               p.full-screen__item__sub-text
//-                 |Под текс
//-             li.sub-list__item.parent-item
//-               p
//-                 |Элемент первого уровня
//-               p.full-screen__item__sub-text
//-                 |Под текс
//-           p.full-screen__item__sub-text
//-             |Под текст